<%- include('partials/header.ejs')%>
<body>
    <%- include('partials/navbar.ejs')%>
    <div class="container">

        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
                
            </div>
            <div class="card-body">
                <form method="POST" action="/save">
                    <label for="titulo">Título</label>
                    <input placeholder="Título" type="text" name="titulo" id="" class="form-control">
                    <br>
                    <label for="descricao">Descrição</label>
                    <textarea placeholder="Descreva sua pergunta" name="descricao" id="" cols="30" rows="10" class="form-control"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary">Perguntar</button>
                </form>
                
            </div>
        </div>

        
    </div>

    
</body>
<%- include('partials/footer.ejs')%>
